body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #1c1e26;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #2d2f39; /* Dunkler Sidebar-Hintergrund */
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.sidebar h3 {
    color: #00ffb8;
    font-size: 1.8rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.section-header {
    cursor: pointer;
    margin-bottom: 10px;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.section-header span:first-child {
    font-size: 1.2rem;
    color: white;
}

.section-title .arrow {
    font-size: 1.2rem;
    color: #00ffb8; /* Gleiche Farbe wie das Wort "Navigation" */
    transition: transform 0.3s ease;
}

.main-section-title {
    font-size: 2.5rem; /* Größe wie "Installation" */
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    text-align: left;
}



.sub-menu {
    display: none;
    margin-top: 5px;
    padding-left: 10px;
}

.sub-menu.open {
    display: block;
}

.sub-menu li {
    margin-bottom: 10px;
}

.sub-menu a {
    color: #00ffb8; /* Gleiche Farbe für die Untermenüpunkte */
    text-decoration: none;
}

.sub-menu a:hover {
    text-decoration: underline;
    color: #00ffb8; /* Auch beim Hover dieselbe Farbe */
}


.section-header.open .arrow {
    transform: rotate(90deg); /* Pfeil dreht sich nach unten bei geöffnetem Menü */
}

.content {
    flex-grow: 1;
    padding: 40px 20px;
}

header {
    text-align: center;
    background-color: #16181d;
    padding: 40px 20px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

.tip-box {
    background-color: #2a915e;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    color: white;
}

.requirements,
.scaffold,
.meta-only {
    background-color: #22242e;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

pre {
    background-color: #2d2f39;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    color: #00ffb8;
}

code {
    font-family: monospace;
    background-color: #333740;
    padding: 3px 6px;
    border-radius: 5px;
}

footer {
    background-color: #16181d;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
